/* your styles go here */

/*以下三个是鼠标悬停下划线从文字中间展开的动画*/
.text-underline {
    display: inline;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.text-underline::after {
    position: absolute;
    left: 0;
    top: 100%;
    content: '';
    background-color: gray;
    width: 90%;
    transform: scale(0);
    -webkit-transform: scale(0);
    transition: all .3s;
    -webkit-transition: all .3s;

}

.text-underline:hover::after {
    height: 2px;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/*仿知乎加载条效果*/
.timeline-item {
    background: #fff;
    border-bottom: 1px solid #f2f2f2;
    padding: 25px;
    margin: 0 auto;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }
    100% {
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 40px;
    position: relative;
}

.background-masker {
    background: #fff;
    position: absolute;
}


/* Every thing below this is just positioning */

.background-masker.header-top,
.background-masker.header-bottom,
.background-masker.subheader-bottom {
    top: 0;
    left: 40px;
    right: 0;
    height: 10px;
}

.background-masker.header-left,
.background-masker.subheader-left,
.background-masker.header-right,
.background-masker.subheader-right {
    top: 10px;
    left: 40px;
    height: 8px;
    width: 10px;
}

.background-masker.header-bottom {
    top: 18px;
    height: 6px;
}

.background-masker.subheader-left,
.background-masker.subheader-right {
    top: 24px;
    height: 6px;
}

.background-masker.header-right,
.background-masker.subheader-right {
    width: auto;
    left: 300px;
    right: 0;
}

.background-masker.subheader-right {
    left: 230px;
}

.background-masker.subheader-bottom {
    top: 30px;
    height: 10px;
}

.background-masker.content-top,
.background-masker.content-second-line,
.background-masker.content-third-line,
.background-masker.content-second-end,
.background-masker.content-third-end,
.background-masker.content-first-end {
    top: 40px;
    left: 0;
    right: 0;
    height: 6px;
}

.background-masker.content-top {
    height: 20px;
}

.background-masker.content-first-end,
.background-masker.content-second-end,
.background-masker.content-third-end {
    width: auto;
    left: 380px;
    right: 0;
    top: 60px;
    height: 8px;
}

.background-masker.content-second-line {
    top: 68px;
}

.background-masker.content-second-end {
    left: 420px;
    top: 74px;
}

.background-masker.content-third-line {
    top: 82px;
}

.background-masker.content-third-end {
    left: 300px;
    top: 88px;
}

/* 主页其他 */
.statistics strong {
    cursor: pointer;
}

/**/
.nav-item {
    position: relative;
    z-index: 9999
}

#blog_title_container {
    margin-bottom: -30px;
    min-height: 9px;
    padding-left: 4px;
    padding-right: 4px;
    z-index: 1
}

#blog_title_input {
    height: 50px;
    border-right-width: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#blog_markdown_container {
    height: 700px;
    display: none;
    z-index: 1
}

#submit_blog {
    height: 50px;
    width: 90px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#edit_blog {
    float: right;
}

.gender {
    margin-left: 10px;
}